# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.env
.venv/
venv/
backend/venv/
.env*/

# Django / SQLite
*.sqlite3
*.db
media/
staticfiles/

# Node / Frontend
frontend/node_modules/
frontend/.parcel-cache/
frontend/.next/
frontend/dist/
frontend/build/
frontend/.cache/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Coverage / testing
.coverage
htmlcov/
**/coverage/

# Misc
*.bak
*.tmp
*.swp
